* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #414141;    /* Dark gray */
  background-color: white
  font-size: 18px;
}

ul {
  list-style-type: circle;
  padding: 20px;  /* Vertical  Horizontal  (could also go clockwise starting from the top)*/
  margin-bottom: 50px;
  margin-top: 25px;
}

h1 {
  padding: 50px;
  border-bottom: 1px solid #5D6063; /*thin grey solid line*/
}

h2 {
  color: #5995DA;
}

p {
  padding: 20px 10px;  /* Vertical  Horizontal  (could also go clockwise starting from the top)*/
  margin-bottom: 50px;
  margin-top: 25px;
}

p:first-of-type {
  font-style: italic;
}


#github {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; /*dark grey*/
  padding: 20px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 100px;
}

.nav-bar > li {
  float: left
  border-right: 1px solid #bbb;
  display: inline;
}

.nav-bar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
}

/* -------------------------------------------------------------------------- */

.title {
  display: flex;
  background-color: #5995DA;
  justify-content: center;
  height: 200px;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.about {
  display: flex;
  justify-content: center;
  width: 80%;
}

.about-text {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 0;
}

/*
.accomplishments {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #5D6063;
  border-bottom: 2px solid #5D6063;
  background-color: #ebebeb;
  height: 300px;
}
*/

.projects-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* margin: 3%; */
  padding: 5%;
  /* flex: 1; */
  height: 350px;
  background-color: #ebebeb;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list {
  justify-content: center;
}

.experience-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  /* flex: 1; */
  height: 350px;
  background-color: #dbdbdb;
}

.experience {
  display: flex;
  justify-content: center;
}

.experience-text {

}

.contact {
  display: flex;
  justify-content: center;
  height: 100px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  background-color: #D6E9FE;
  height: 150px;
  flex: 3;
  align-items: center;
  padding-top: 20px;
}

.contact-space {
  background-color: #333;
  flex: 1;
}


/* -------------------------------------------------------------------------- */


a:link {
  color: #325ea8; /*blue*/
  text-decoration: none;
}

a:hover {
  color: #326ba8; /*lighter blue*/
  text-decoration: underline;
}

a:active {
  color: #324ea8; /*darker blue*/
}




a:visited {
  /* color: #5132a8; */
  color: #6d418a;
}

a:visited:hover {
  /* color: #533b94; */
  color: #9056b8;
}

a:visited:active {
  /* color: #482c94; */
  color: #402652;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    /* width: 960px; */
    width: 100vw;
    margin: 0 auto;
  }

  .projects-container,
  .experience-container {
    width: 50%;
  }

  .header {
    height: 400px;
  }
}
